@use './tokens' as *;

// Elevation Utilities
.opacity {
  &-0 { opacity: $opacity-0; }
  &-25 { opacity: $opacity-25; }
  &-50 { opacity: $opacity-50; }
  &-75 { opacity: $opacity-75; }
  &-100 { opacity: $opacity-100; }
}

.overlay {
  &-light { background-color: $overlay-light; }
  &-dark { background-color: $overlay-dark; }
}

.shadow {
  &-sm { box-shadow: $shadow-sm; }
  &-md { box-shadow: $shadow-md; }
  &-lg { box-shadow: $shadow-lg; }
  &-xl { box-shadow: $shadow-xl; }
}